@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Splash&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.splash-regular {
	font-family: "Splash", serif;
	font-weight: 400;
	font-style: normal;
}
.rubik {
	font-family: "Rubik Glitch", serif;
	font-weight: 400;
	font-style: normal;
}

.title-xl {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: -0.56px;
}
.title-lg {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -0.48px;
}
.title-md {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -0.4px;
}

.title-sm {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.16px;
}

.title-xs {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0px;
}

.body-xl {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.36px;
}
.body-lg {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}
.body-md {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.body-sm {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.body-xs {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.label-xl {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}
.label-lg {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.label-md {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.label-sm {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.label-xs {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

:root {
	/* Light Mode */
	--color-on-surface: 33 37 41; /* #212529 */
	--color-on-surface-variant: 33 37 41; /* #212529 */
	--color-surface-variant: 240 240 240; /* #F0F0F0 */
	--color-surface: 225 228 234; /* #FAFAFA */
	--color-surface-container: 238 240 245; /* #F5F5F5 */
	--color-surface-container-high: 245 248 250; /* #FFFFFF */
	--color-surface-container-highest: 255 255 255; /* #FFFFFF */

	--color-soft: 130 130 130; /* #828282 */
	--color-softer: 170 170 170; /* #828282 */
	--color-on-hint: 255 255 255; /* #FFFFFF */

	--border-color: 217 220 227; /* #D9DCE3 */
	--border-color-variant: 70 70 70; /* #B4B4B4 */

	--color-hover: 60 60 70; /* #3c3c46 */

	--color-error: 207 102 121; /* #cf6679 */
	--color-error-light: 239 154 154; /* #ef9a9a */
	--color-on-error: 255 255 255; /* #ffffff */
	--color-error-container: 255 204 204; /* #ffcccc */
	--color-on-error-container: 50 50 50; /* #323232 */

	--color-primary: 51 153 255; /* Lighter blue, e.g., #3399FF */
	--color-primary-light: 102 178 255; /* Even lighter blue, e.g., #66B2FF */
	--color-on-primary: 255 255 255; /* White for contrast, e.g., #FFFFFF */
	--color-primary-container: 153 204 255; /* Even lighter blue, e.g., #99CCFF */
	--color-on-primary-container: 0 102 204; /* Darker blue for contrast, e.g., #0066CC */

	--color-secondary: 255 138 101; /* #FF8A65 */
	--color-secondary-light: 255 171 145; /* Lighter shade of the secondary color, e.g., #FFAB91 */
	--color-on-secondary: 255 255 255; /* #FFFFFF */
	--color-secondary-container: 255 204 188; /* #FFCCBC */
	--color-on-secondary-container: 191 54 12; /* #BF360C */

	--color-tertiary: 150 200 170; /* Muted green for variety, e.g., #96C8AA */
	--color-tertiary-light: 180 230 200; /* Lighter shade of the tertiary color, e.g., #B4E6C8 */
	--color-on-tertiary: 20 50 30; /* Darker green for contrast, e.g., #14321E */
	--color-tertiary-container: 120 180 140; /* More distinct green for better differentiation, e.g., #78B48C */
	--color-on-tertiary-container: 240 255 245; /* Lighter green for contrast, e.g., #F0FFF5 */

	--scroll-bar-color: 60 60 70; /* #3C3C46 */
	--scroll-bar-color-hover: 70 70 80; /* #46464C */
	--scroll-bar-rail-color: 40 40 50; /* #282832 */
}

/* Dark Mode */
.dark {
	--color-on-surface: 240 240 240; /* #F0F0F0 */
	--color-on-surface-variant: 240 240 240; /* #212529 */

	--color-surface-variant: 50 50 70; /* #3C3C3C */
	--color-surface: 10 10 20; /* Very dark blue, almost black, e.g., #0A0A14 */
	--color-surface-container: 30 30 40; /* Dark gray with a subtle hint of blue, e.g., #1E1E28 */
	--color-surface-container-high: 40 40 50; /* Darker gray with a subtle hint of blue, e.g., #282832 */
	--color-surface-container-highest: 50 50 60; /* Even darker gray with a subtle hint of blue, e.g., #32323C */

	--border-color: 91 91 91; /* #5B5B5B */
	--border-color-variant: 110 110 110; /* #6E6E6E */

	--scroll-bar-color: 60 60 70; /* #3C3C46 */
	--scroll-bar-color-hover: 70 70 80; /* #46464C */
	--scroll-bar-rail-color: 40 40 50; /* #282832 */

	
}

.theme-blue {


	--color-primary: 0 255 255; /* Neon cyan, e.g., #00FFFF */
	--color-primary-light: 0 255 127; /* Neon green, e.g., #00FF7F */
	--color-on-primary: 0 0 0; /* Black for contrast, e.g., #000000 */
	--color-primary-container: 0 255 255; /* Neon cyan, e.g., #00FFFF */
	--color-on-primary-container: 0 0 0; /* Black for contrast, e.g., #000000 */

	--color-secondary: 255 100 90; /* Softer red, e.g., #FF645A */
	--color-secondary-light: 255 140 130; /* Softer light red, e.g., #FF8C82 */
	--color-on-secondary: 255 255 255; /* #FFFFFF */
	--color-secondary-container: 255 100 90; /* Softer red, e.g., #FF645A */
	--color-on-secondary-container: 255 255 255; /* #FFFFFF */

	--color-tertiary: 100 220 140; /* Softer green, e.g., #64DC8C */
	--color-tertiary-light: 150 240 180; /* Softer light green, e.g., #96F0B4 */
	--color-on-tertiary: 255 255 255; /* #FFFFFF */
	--color-tertiary-container: 100 220 140; /* Softer green, e.g., #64DC8C */
	--color-on-tertiary-container: 255 255 255; /* #FFFFFF */
}


