@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Splash&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.splash-regular {
	font-family: "Splash", serif;
	font-weight: 400;
	font-style: normal;
}
.rubik {
	font-family: "Rubik Glitch", serif;
	font-weight: 400;
	font-style: normal;
}

.title-xl {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: -0.56px;
}
.title-lg {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -0.48px;
}
.title-md {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -0.4px;
}

.title-sm {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.16px;
}

.title-xs {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0px;
}

.body-xl {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.36px;
}
.body-lg {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}
.body-md {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.body-sm {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.body-xs {
	font-family: "Noto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.label-xl {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}
.label-lg {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.label-md {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.label-sm {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.label-xs {
	font-family: "Noto", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

:root {
	/* Light Mode */
	--color-on-surface: 33 37 41; /* #212529 */
	--color-on-surface-variant: 33 37 91; /* #21255B */
	--color-surface-variant: 240 240 240; /* #F0F0F0 */
	--color-surface: 255 255 255; /* #FFFFFF */
	--color-surface-container: 248 250 252; /* #F8FAFC */
	--color-surface-container-high: 240 242 247; /* #F0F2F7 */
	--color-surface-container-highest: 230 233 239; /* #E6E9EF */

	--color-soft: 130 130 130; /* #828282 */
	--color-softer: 170 170 170; /* #828282 */
	--color-on-hint: 255 255 255; /* #FFFFFF */

	--border-color: 217 220 227; /* #D9DCE3 */
	--border-color-variant: 70 70 70; /* #B4B4B4 */

	--color-hover: 60 60 70; /* #3c3c46 */

	--color-error: 207 102 121; /* #cf6679 */
	--color-error-light: 239 154 154; /* #ef9a9a */
	--color-on-error: 255 255 255; /* #ffffff */
	--color-error-container: 255 204 204; /* #ffcccc */
	--color-on-error-container: 50 50 50; /* #323232 */

	--color-success: 76 175 80; /* #4CAF50 */
	--color-success-light: 129 199 132; /* #81C784 */
	--color-on-success: 255 255 255; /* #FFFFFF */
	--color-success-container: 200 230 201; /* #C8E6C9 */
	--color-on-success-container: 27 94 32; /* #1B5E20 */

	--color-primary: 51 153 255; /* Lighter blue, e.g., #3399FF */
	--color-primary-light: 102 178 255; /* Even lighter blue, e.g., #66B2FF */
	--color-on-primary: 255 255 255; /* White for contrast, e.g., #FFFFFF */
	--color-primary-container: 153 204 255; /* Even lighter blue, e.g., #99CCFF */
	--color-on-primary-container: 0 102 204; /* Darker blue for contrast, e.g., #0066CC */

	--color-secondary: 255 138 101; /* #FF8A65 */
	--color-secondary-light: 255 171 145; /* #FFAB91 */
	--color-on-secondary: 255 255 255; /* #FFFFFF */
	--color-secondary-container: 255 204 188; /* #FFCCBC */
	--color-on-secondary-container: 191 54 12; /* #BF360C */

	--color-tertiary: 102 102 255; /* #6666FF */
	--color-tertiary-light: 153 153 255; /* #9999FF */
	--color-on-tertiary: 255 255 255; /* #FFFFFF */
	--color-tertiary-container: 204 204 255; /* #CCCCFF */
	--color-on-tertiary-container: 51 51 153; /* #333399 */

	--scroll-bar-color: 60 60 70; /* #3C3C46 */
	--scroll-bar-color-hover: 70 70 80; /* #46464C */
	--scroll-bar-rail-color: 40 40 50; /* #282832 */
}

/* Dark Mode */
.dark {
	--color-on-surface: 240 240 240; /* #F0F0F0 */
	--color-on-surface-variant: 240 240 240; /* #212529 */

	--color-surface-variant: 50 50 70; /* #3C3C3C */
	--color-surface: 10 10 20; /* Very dark blue, almost black, e.g., #0A0A14 */
	--color-surface-container: 30 30 40; /* Dark gray with a subtle hint of blue, e.g., #1E1E28 */
	--color-surface-container-high: 40 40 50; /* Darker gray with a subtle hint of blue, e.g., #282832 */
	--color-surface-container-highest: 50 50 60; /* Even darker gray with a subtle hint of blue, e.g., #32323C */

	--border-color: 91 91 91; /* #5B5B5B */
	--border-color-variant: 110 110 110; /* #6E6E6E */

	--scroll-bar-color: 60 60 70; /* #3C3C46 */
	--scroll-bar-color-hover: 70 70 80; /* #46464C */
	--scroll-bar-rail-color: 40 40 50; /* #282832 */

	
}

.theme-purple {
	--color-primary: 128 0 128; /* Purple, e.g., #800080 */
	--color-primary-light: 186 85 211; /* Medium Orchid, e.g., #BA55D3 */
	--color-on-primary: 255 255 255; /* White for contrast, e.g., #FFFFFF */
	--color-primary-container: 216 191 216; /* Thistle, e.g., #D8BFD8 */
	--color-on-primary-container: 75 0 130; /* Indigo, e.g., #4B0082 */

	--color-secondary: 255 182 193; /* Light Pink, e.g., #FFB6C1 */
	--color-secondary-light: 255 192 203; /* Pink, e.g., #FFC0CB */
	--color-on-secondary: 0 0 0; /* Black for contrast, e.g., #000000 */
	--color-secondary-container: 255 240 245; /* Lavender Blush, e.g., #FFF0F5 */
	--color-on-secondary-container: 139 69 19; /* Saddle Brown, e.g., #8B4513 */

	--color-tertiary: 147 112 219; /* Medium Purple, e.g., #9370DB */
	--color-tertiary-light: 218 112 214; /* Orchid, e.g., #DA70D6 */
	--color-on-tertiary: 255 255 255; /* White for contrast, e.g., #FFFFFF */
	--color-tertiary-container: 230 230 250; /* Lavender, e.g., #E6E6FA */
	--color-on-tertiary-container: 75 0 130; /* Indigo, e.g., #4B0082 */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	@apply bg-neutral-500/10;
}

::-webkit-scrollbar-thumb {
	@apply bg-neutral-500/50 rounded-[6px] border-[3px] border-solid border-neutral-500/10;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-500/70;
}


